@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FFF8F0;
  color: #3F4531;
}

body {
  margin: 0;
  font-family: "Work Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------------------------------------------ */
/* -- Navigation -- */

/* header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;
} */

.header,
.about,
.projects,
.experience,
.social,
.footer {
  padding: 50px 25px 25px;
}

/* ------------------------------------------------------ */
/* -- Header -- */

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  text-align: center;
}

.header img {
  max-width: 300px;
  height: auto;

  margin: 20px auto;

  border-radius: 50%;
}

.header__content {
  width: 400px;
  margin: 0 auto;
}

.header__content h1 {
  font-size: 48px;
}

.header__content p {
  font-size: 32px;
}

.header__content button {
  margin: 25px auto 0;
}

/* ------------------------------------------------------ */
/* -- About -- */

.about h2 {
  font-size: 42px;
  margin: 25px auto;
}

.about p {
  font-size: 18px;
  line-height: 130%;
  max-width: 75ch;
}

/* ------------------------------------------------------ */
/* -- Projects -- */

.projects h2 {
  font-size: 42px;
  margin: 25px auto;
}

.projects p {
  font-size: 18px;
  line-height: 130%;
  max-width: 50ch;
}

.projects__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__card {
  position: relative;
  max-width: 350px;
  height: 600px;

  padding: 20px;
  text-align: justify;

  justify-content: center;
  align-items: center;

  border: 1px solid #0088BB;
  border-radius: 8px;
}

.projects__card figcaption {
  text-align: center;
  font-weight: 500;
}

.projects__card a {
  text-decoration: none;
}

.projects__card h3 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.projects__card p {
  font-size: 16px;
  margin: 20px 0;
}

.projects__card img {
  width: 100%;
  height: 200px;
  margin: 20px 0 10px;

  border-radius: 8px;
}

.projects__card .button__container {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: transparent;
}

.projects__card .button {
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------------------------------------ */
/* -- Social Media -- */

.social div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.social h2 {
  font-size: 42px;
  margin: 25px auto;
}

.social .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  width: 160px;
}

/* ------------------------------------------------------ */
/* -- Footer -- */
.footer {
  margin: 0 auto;
  text-align: center;
}

/* ------------------------------------------------------ */
/* -- HTML COMPONENTS: BUTTON -- */
.button {
  display: inline-block;

  background: #BDD5EA;

  padding: 15px 30px;

  border: none;
  border-radius: 8px;

  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;

  cursor: pointer;

  transition: all 250ms ease;
}

.button:hover {
  background: #235789;
  color: #FFFFFF;
}

:root {
  --background: #FBFA95;
  --alt-background: #3F4531;
  --main: #3F4531;
  --success: #499167;
  --error: #EE2E31;
  --box: #FFF8F0;

  --blue: #235789; 
  --light-blue: #BDD5EA;

  --breakpoint: 820px;
}